.reservationformcontainer{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.452);

    justify-content: flex-end;

}

.reservationform{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: white;
   
}
.reservationformheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    height: 80px;
    padding: 15px 25px;
}
.title{
    font-size: 1.4rem;
    margin-bottom: 5px;
    font-weight: 500;
}
.subtitle{
    font-size: 0.9rem;
    font-weight: 500;
    color: rgb(93, 93, 93);
}
.exitbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    padding: 7px;
    border-radius: 50%;
    background-color: rgb(252, 252, 252);
     cursor: pointer;
}
.exitbtn svg{
    height: 100%;
    width: 100%;

}
.exitbtn:hover{
    background-color: rgb(238, 238, 238);
}
.progressbar{
    display: flex;
    height: 2px;
    width: 100%;
    background-color: rgb(237, 237, 237);
}
.progresscolor{
    display: flex;
    height: 100%;
   min-width: 0%;
   max-width: 100%;
    background-color: blue;
    transition: 0.5s ease-in-out;
}
.formcontainer{
     display: flex;
    flex-direction: column;
    height: calc(100% - 160px);
    padding: 20px;
    overflow-y: scroll;

    width: 100%;

}
.bottombuttonsholder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 15px 40px;
    border-top: 1px solid rgb(223, 223, 223);
}
.formbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 8px;
    font-size:14px ;
    font-weight: 400;
    width: fit-content;
    padding: 5px 15px;
    min-width: 130px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.formsubmitbtn{
    background-color: rgb(0, 0, 214);
    color: white;
}
.formsubmitbtn:hover{
    background-color: rgb(0, 0, 168);
   

}
.backbtn{
    background-color: rgb(224, 224, 224);
}
.formbackbtnenable{
    color: rgb(0, 0, 0);
}
.formbackbtnenable:hover{
      background-color: rgb(201, 201, 201);

}
.formbackbtndisable{
     color: rgb(170, 170, 170);
     cursor:not-allowed;
}
.form{
    display: flex;
    flex-direction: column;
}
.formtitleholder{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 40px;
}

.formtitleform{
    font-size: 1.5rem;
    font-weight: 400;
}
.subtitleform{
   font-size: 0.8rem;
   font-weight: 500; 
   color: rgb(133, 133, 133);

}
.forminputholder{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
    width: 100%;
}
.forminputlabelandreqtag{
    display: flex;
    align-items: center;
    gap: 2px;
}
.formlabel{
    font-size: 15px;
    font-weight: 500;
}
.requiredTag{
    color: red;
}
.forminputholder input{
    height: 50px;
    border-radius: 10px;
    padding: 5px 15px;
    width: 100%;
    border: 1.5px solid rgb(185, 185, 185);
    font-size: 15px;
}
.forminputholder input:focus{
    outline: 2px solid blue;
    outline-offset: 1.5px;
}
.formrow{
    display: grid;
    gap: 25px 10px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    margin-bottom: 30px;
}