.reservationformcontainer{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.452);

    justify-content: flex-end;

}

.reservationform{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: white;
   
}
.reservationformheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    height: 80px;
    padding: 15px 25px;
}
.title{
    font-size: 1.4rem;
    margin-bottom: 5px;
    font-weight: 500;
}
.subtitle{
    font-size: 0.9rem;
    font-weight: 500;
    color: rgb(93, 93, 93);
}