.maincontainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgb(249, 249, 255);
}

.topnavbar{
    display: flex;
    height: 80px;
    border-bottom: 1px solid rgb(209, 209, 209);
    background-color: white;
}

.contentholder{
    display: flex;
    flex-direction: column;
    height: calc(100% - 80px);
    padding: 20px 30px;
}