.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #e6e6e6;
  border-radius: 8px;
}


.skeleton::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(255, 255, 255, 0.6) 50%,
    transparent 100%
  );
  animation: shimmer 0.8s infinite;
}



.skeletonloader{
    display: flex;
    height: 100%;
    width: 100%;
    composes: skeleton;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}