.topnavbar{
    display: flex;
    gap: 10px;
    height: 80px;
    border-bottom: 1px solid rgb(219, 219, 219);
}
.maincontentholder{
    height: calc(100vh - 80px);
    width: 100%;
    padding: 50px;
    overflow-y: scroll;
}
.userprofilepic{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 50%;
}